<p>these are the Items having only one item in the Inventory</p>
<div class="container">





	<div class="rightbox">


		<div class="rightboxinner"
			style="margin: 35px 15px 35px 15px; padding: 5px !important;">
			<table class="table table-bordered">
				<tr>
					<td class="rowheader">Order No</td>
					<td class="rowheader">Item Name</td>
					<td class="rowheader">Supplier Name</td>
					<td class="rowheader">Quantity</td>
					<td class="rowheader">Purchase Date</td>
					<td class="rowheader">Edit / Delete</td>
				</tr>
				<tr>
					<td>523</td>
					<td>Frames</td>
					<td>XYZ Corp</td>
					<td>4</td>
					<td>01/01/2014</td>
					<td><a class="iconeditdel" href="#"><img
							src="img/edit.png" alt="edit" width="24" height="24"></a> <a
						class="iconeditdel" href="#"><img src="img/del.png" alt="edit"
							width="24" height="24"></a></td>
				</tr>
				<tr>
					<td>523</td>
					<td>Frames</td>
					<td>XYZ Corp</td>
					<td>4</td>
					<td>01/01/2014</td>
					<td><a class="iconeditdel" href="#"><img
							src="img/edit.png" alt="edit" width="24" height="24"></a> <a
						class="iconeditdel" href="#"><img src="img/del.png" alt="edit"
							width="24" height="24"></a></td>
				</tr>
				<tr>
					<td>523</td>
					<td>Frames</td>
					<td>XYZ Corp</td>
					<td>4</td>
					<td>01/01/2014</td>
					<td><a class="iconeditdel" href="#"><img
							src="img/edit.png" alt="edit" width="24" height="24"></a> <a
						class="iconeditdel" href="#"><img src="img/del.png" alt="edit"
							width="24" height="24"></a></td>
				</tr>

				<tr>
					<td>523</td>
					<td>Frames</td>
					<td>XYZ Corp</td>
					<td>4</td>
					<td>01/01/2014</td>
					<td><a class="iconeditdel" href="#"><img
							src="img/edit.png" alt="edit" width="24" height="24"></a> <a
						class="iconeditdel" href="#"><img src="img/del.png" alt="edit"
							width="24" height="24"></a></td>
				</tr>
			</table>

		</div>

	</div>

</div>