
			<form class="form-horizontal" id="register-form" onsubmit="return false;" style="margin-top: 80px;">
            
				<div class="form-group" id="username_group">
					<label class="col-sm-4 control-label" for="username">Username * </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="username"> <span class="help-danger help-block" id="username_danger"></span>
					</div>
				</div>


				<div class="form-group" id="user_password_group">
					<label class="col-sm-4 control-label" for="user_password">Password * </label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="user_password">
						<span class="help-danger help-block" id="user_password_danger"></span>
					</div>
				</div>
				
				<div class="form-group" id="confirm_password_group">
					<label class="col-sm-4 control-label" for="user_password">Confirm Password * </label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="confirm_password">
						<span class="help-danger help-block" id="confirm_password_danger"></span>
					</div>
				</div>
				
				<div class="form-group" id="user_role">
					<label class="col-sm-4 control-label" for="user_role">Role * </label>
					<div class="col-sm-4">
						<select class="form-control" style="width: 257px" id="roles">
							<option value='2'> Manager </option>
							<option value="3">General User</option>
						</select>
					</div>
				</div>
				<div class="form-group" id="user_email_group">
					<label class="col-sm-4 control-label" for="user_email">Email * </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="user_email" value="<%= user_email %>">
						<span class="help-danger help-block" id="user_email_danger"></span>
					</div>
				</div>
				
				<div class="form-group" id="user_mobile_group">
					<label class="col-sm-4 control-label" for="user_mobile">Mobile *</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="user_mobile">
						<span class="help-danger help-block" id="user_mobile_danger"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-4">
						<button id="register-form" type="submit" style="width: 245px;" class="btn btn-primary">Register</button>
 					</div>
				</div>
			</form>
<script type="text/javascript">
$(document).ready(function () {

    $('#register-form').validate({
        rules: {
        	username: {
                minlength: 2,
                required: true
            },
            user_email: {
                required: true,
                email: true
            },
            user_password: {
                minlength: 2,
                required: true
            },
            user_mobile: {
                minlength: 2,
                required: true
            }
            
        },
        highlight: function (element) {
            $(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function (element) {
            element.text('OK!').addClass('valid')
                .closest('.control-group').removeClass('error').addClass('success');
        }
    });

});
</script>