<!-- <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
  <%= window.sess.Username %>
  <span class="caret"></span>
  <strong class="caret"></strong>
</a> -->
 <label class="col-sm-4 control-label" style="font: bold;margin-top: 11px;">Welcome</label>
<div class="dropdown-toggle signin_btn" data-toggle="dropdown" style="margin-top: 7px;">
<%= window.sess.Username %>
<strong class="caret"></strong>
</div>
<ul class="dropdown-menu" id="user-menu" style="margin-top: -27px;">
	
</ul>

