 <div class="dropdown-toggle signin_btn"  data-toggle="dropdown">Sign In <strong class="caret"></strong></div>
   
 <div class="dropdown-menu" style="padding: 22px 15px 22px; ">
	 	
		 <form class="form-horizontal" id="sign-in" onsubmit="return false;">
  <input type="text" class="form-control" style="margin-bottom:4px" id="username_head" placeholder="Enter UserName" >
  <input type="password" class="form-control" id="password_head" placeholder="Password">
 
 <a class="fp" href="#forgot">Forgot Password?</a>
 
  <input class="btn btn-primary" style="clear: left; margin-bottom:10px; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />

  <a href="#sign-up" class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;">Sign Up</a>
</form>
</div>

    
        